  <div ng-controller="RssCtrl" ng-init="load(false, '<%=rssSite%>')">
    <!-- <div data-role="controlgroup" data-type="horizontal"> -->
    <!--   <input type="search" ng-model="keyword" /> -->
    <!--   <a href="#" data-role="button">search</a> -->
    <!-- </div> -->
    <ul id="rsslistview" data-role="listview" data-inset="true" ng-repeat="rss in rssGrps">
      <li data-role="list-divider">
        {{rss[0]}}
        <span class="ui-li-count">{{rss[1].length}}</span>
      </li>
      <li ng-repeat="r in rss[1]">
        <a href="#" ng-style="rssStyle(r)" ng-click="jump(r)">
          <h3 class="ui-li-heading" style="white-space:normal">
            {{r.title}}
          </h3>
          <p class="ui-li-desc">
            {{r.date.getHours()}}時{{r.date.getMinutes()}}分{{r.date.getSeconds()}}秒　|　{{r.rssSite.title}}
          </p>
        </a>

        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
          <a href="#" data-role="button" data-theme="c" data-icon="check" ng-style="rssReadStyle(r)" ng-click="changeRead(r)">{{rssReadValue(r)}}</a>
          <a href="#" data-role="button" data-theme="{{rssFavoriteTheme(r)}}" data-icon="star"  ng-style="rssFavoriteStyle(r)" ng-click="changeFavorite(r)">お気に入り</a>
        </div>
      </li>
    </ul>
    <input type="button" value="load 10 articles" jq-button jq-button-disabled="loadArticleDisable"  ng-click="loadArticles()" />
  </div>
