<div ng-controller="RssCtrl" ng-init="load(false, '<%=rssSite%>')">

  <div class="scrollable">
    <div class="scrollable-content" ui-scroll-bottom="loadArticles()">

      <div class="list-group" ng-repeat="rss in rssGrps">
        {{rss[0]}}
        <div class="list-group-item media" id="rsslistview" ng-class="{read_rss: isRead(r)}" ng-repeat="r in rss[1]" >
          <div class="media-body">
            <h4 class="media-heading" ng-click="jump(r)">
              <strong>{{r.title}}</strong>
            </h4>
            <p class="rss_site_sub">
              {{r.date.getHours()}}時{{r.date.getMinutes()}}分{{r.date.getSeconds()}}秒　|　<span class="rss_site_title">{{r.rssSite.title}}</span>
            </p>
            <span class="pull-right">
              <button type="button" class="btn-mini btn-default" ng-style="rssReadStyle(r)" ng-click="changeRead(r)">
                <span class="fa fa-book feature-icon"></span>
                {{isRead(r) ? '既読' : '未読'}}
              </button>
              <button type="button" class="btn-mini" ng-class="isFavorite(r) ? 'btn-warning' : 'btn-default'" ng-click="changeFavorite(r)">
                <span class="fa feature-icon" ng-class="isFavorite(r) ? 'fa-star' : 'fa-star-o'"></span>
                お気に入り
              </button>
            </span>
          </div>
        </div>
      </div>
      <input type="button" value="load 25 articles" jq-button jq-button-disabled="loadArticleDisable"  ng-click="loadArticles()" />
    </div>

  </div>
</div>
