<div data-role="content">

  <div ng-controller="RssCtrl">
    <ul id="rsslistview" data-role="listview" data-inset="true" ng-repeat="rss in rsses">
      <li data-role="list-divider">
        {{rss[0]}}
        <span class="ui-li-count">{{rss[1].length}}</span>
      </li>
      <li ng-repeat="r in rss[1]">
        <a href="#" ng-click="jump(r)" ng-style="rssStyle(r)">
          <h3 class="ui-li-heading" style="white-space:normal">
            {{r.title}}
          </h3>
          <p class="ui-li-desc">
            {{r.date.getHours()}}時{{r.date.getMinutes()}}分{{r.date.getSeconds()}}秒
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>



