body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content {
    width: 100%;
    display: block;
}

#settingPopup-popup {
    right: 0 !important;
    left: auto !important;
}
#settingPopup {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
#settingPopup .ui-btn {
    margin: 2em 15px;
}
