body {
  padding-top: 70px;
}

.content {
    width: 100%;
    display: block;
}

.read_rss {
    color: #000000;
    background-color: #888888;
}

.rss_site_sub {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;

}

.aaa {
    text-align: left;
    position: absolute;
    left: 0px;
}
