<div data-role="page">

  <div data-role="header">
    <h1>SolRss</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-inset="true">
      <% for(var s in sites) { %>
      <li>
        <a href="#">    
          <h1 style="white-space:normal"><%= sites[s].title %></h1>
          <p><%= sites[s].link %></p>
        </a>
      </li>
      <% } %>
    </ul>
  </div>

</div>
