<div data-role="content">
  <form action="/rssSite" method="post">
    <div data-role="fieldcontain">
      <label for="url" >URL：</label>
      <input type="text" name="url" id="url_input" data-mini="true" />
      <input type="submit" value="登録"  data-theme="b">
    </div>
  </form>


  <ul data-role="listview" data-inset="true">
    <% for(var s in sites) { %>
    <li>
      <a href="/?rssSite=<%= sites[s]._id %>" data-ajax="false">
        <h1 style="white-space:normal"><%= sites[s].title %></h1>
        <p><%= sites[s].link %></p>
      </a>
    </li>
    <% } %>
  </ul>
</div>



